.div-explicacion{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #007bff;
    margin: 20px;
    border-radius: 30px;
    color: white;
    padding: 30px;
}

.form{
    display: grid;
    grid-template-columns: 15% 35% 15% 35%;
}

.titulo{
    display: grid;
    grid-template-columns: 1fr;
}

.titulo>p{
    color: #007bff;
    justify-self: center;
    align-self: center;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.linea-titulo{
    border: 0;
    height: 3px;
    width: 45%;
    background-color:#007bff;
    border-radius: 50px;
    justify-self: center;
  align-self: center;
  max-width: 605px;
  min-width: 200px;
  margin-bottom: 30px;
}

.div-forms{
    background-color: #007bff;
    padding: 30px;
    color: white;
    font-weight: bolder;
    margin: 20px;
    border-radius: 30px;
}


label{
    text-align: center;
}
.trabajo{
    font-weight: bolder;
    text-align: center;
}

.titulo-explicacion{
    color: #ffffff;
    margin: 15px;
    font-size: 40px;
    font-weight: bold;
    justify-self: center;
  align-self: center;
  text-align: center;
  grid-column: 1/3;
  text-align: center;
}

.linea-explicacion{
    grid-column: 1/3;
    border: 0;
    height: 3px;
    width: 40%;
    background-color: #ffffff;
    border-radius: 50px;
    justify-self: center;
  align-self: center;
  max-width: 430px;
  min-width: 200px;
  margin-bottom: 20px;
}